.container-fluid {
  padding-right: 0px; }

.imagenIndex {
  display: none;
  width: 100%; }

h5 {
  color: #8a1538;
  font-weight: bold;
  font-size: x-large;
  font-style: italic; }

.prox-e {
  background-color: #eeeee4; }

img {
  max-height: 818px; }

div p {
  align-self: center;
  color: black;
  border-color: black;
  font-style: italic;
  font-weight: bolder; }

.slide {
  background-color: #8a1538 !important; }

.list-group-item {
  background-color: #eeeee4;
  font-weight: bold;
  font-style: italic; }

@media screen and (max-width: 720px) {
  .carousel {
    display: none; }
  .imagenIndex {
    display: inline-block; }
  .container-fluid {
    padding-left: 0px; } }

@media screen and (max-width: 450px) {
  .card {
    scale: 70%; }
  h2 {
    scale: 80%; } }

.card-filter {
  filter: grayscale(100);
  transition: all 2s; }
  .card-filter:hover {
    filter: none;
    transform: scale(120%); }

.card {
  background-image: url(../imagenes/backQatar.webp); }

.card-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: x-large;
  color: #eeeee4;
  justify-content: center; }

section div img {
  max-height: 147px; }

@media screen and (max-width: 625px) {
  .card-filter {
    filter: none; } }

th {
  padding: 5px; }

.table {
  width: 50%; }

.table-encabezado {
  background-image: url(../imagenes/backQatar.webp); }

.table-contenido {
  background-color: #eeeee4; }

td {
  color: #8a1538;
  font-style: italic;
  font-weight: bold; }

th {
  color: #eeeee4;
  font-style: italic;
  font-weight: bold; }

.grupo {
  width: 50%; }

.llaves {
  background-color: #eeeee4; }

@media screen and (max-width: 850px) {
  .grupo {
    width: 100%; }
  .fixture {
    width: 100%; } }

@media screen and (max-width: 450px) {
  table {
    scale: 70%; } }

@media screen and (max-width: 310px) {
  table {
    scale: 50%; }
  h1 {
    scale: 70%; } }

.grupoImagen {
  width: 60%;
  background-image: url(../imagenes/backQatar.webp); }

.grupoTexto {
  width: 40%;
  background-color: #eeeee4;
  align-items: center; }
  .grupoTexto p {
    align-self: center;
    font-size: x-large;
    justify-self: center; }

h3 {
  font-style: italic;
  font-weight: bolder;
  font-size: xx-large;
  align-self: flex-start;
  color: #8a1538; }

.imgEstadio {
  width: 60%;
  min-width: 400px;
  border-style: solid;
  border-color: black;
  border-radius: 5%; }

.separador {
  background-image: url(../imagenes/backQatar.webp);
  height: 100px; }

@media screen and (max-width: 1080px) {
  .grupoImagen {
    width: 100%;
    border-top-style: solid;
    border-color: black; }
  .grupoTexto {
    width: 100%;
    border-style: solid; }
  .imgEstadio {
    min-width: 600px; } }

@media screen and (max-width: 650px) {
  .imgEstadio {
    min-width: 350px; } }

@media screen and (max-width: 400px) {
  .imgEstadio {
    min-width: 250px; }
  h3 {
    scale: 70%; } }

.backrecords {
  background-color: #eeeee4; }

.grupoRecords {
  display: block;
  justify-content: center;
  width: 50%;
  border-style: solid;
  justify-content: center; }

main li {
  font-style: italic;
  font-weight: bold;
  list-style: square; }

@media screen and (max-width: 800px) {
  .grupoRecords {
    width: 100%; }
  main li {
    font-size: small; }
  .tituloRecords {
    font-size: large; }
  h5 {
    font-size: medium; } }

.bg-color {
  background-color: #8a1538; }

.fondoEstadio {
  background-image: url(../imagenes/backEstadio.jpg); }

.logo {
  max-height: 100px;
  transition: all 1s; }
  .logo:hover {
    transform: scale(120%); }

.footer {
  color: #eeeee4; }

.row {
  margin-right: 0px; }

.titulo {
  font-weight: bolder;
  color: #8a1538;
  justify-content: center;
  font-style: italic; }

.p-nav {
  font-style: italic;
  font-weight: bold;
  color: #eeeee4;
  transition: all 0,5s; }
  .p-nav:hover {
    color: black; }
