h5{
    color: black;
}

$size:(
    big: 818px,
    medium: 500px,
    small:147px
);

img{
    max-height: map-get($size, big);
}

div p{
    align-self: center;
    color: black;
}
