@import "index";
@import "campeonesMundiales";
@import "qatar2022";

.bg-color{
    background-color: rgba(59, 122, 84, 0.753);
}
.fondoEstadio{
    background-image: url(../imagenes/backEstadio.jpg);
}

.logo{
    max-height: 100px;
}

.row{
    margin-right: 0px;
}